---
import Layout from "../layouts/Layout.astro";
/*
            a) what the problem you're addressing in your curriculum is

          b) why you feel it is a significant issue to address.Significance may be determined by a large number of factors, including, but not

              limited to:  topicality, relationship to social/political/economic or educational issues.  Cite appropriate references to bolster your

              arguments.

           c) what age level children are targeted, and why (again, cite appropriate references as you see fit).

           d) what the specific learning objectives would be for this unit

           e) an overview of your curriculum; discuss the format you’ve selected for this curriculum and why you selected it

           f) a discussion of how you think your unit's success could be evaluated or assessed – how could you measure

              whether the learning objectives you articulated were achieved?
*/
---

<Layout>
  <div
    class="prose prose-lg max-w-none text-orange-50 prose-h2:text-white prose-a:text-white"
  >
    <h2>What’s the problem you’re addressing in your curriculum?</h2>
    <p>
      Misinformation and disinformation has become an increasingly bigger
      problem in recent years. The internet has enabled us to share information
      at light speed, but it’s also made it super easy to amplify information
      that might be false or even damaging.
    </p>
    <p>
      Part of what enables this is that people don’t have the tools to identify
      whether information is true or not. This curriculum aims to address that
      problem by giving students the tools to identify misinformation so that
      they don’t become amplifiers of it.
    </p>
    <h2>Why do you see it as a significant issue to address?</h2>
    <p>
      We’ve seen in recent years that internet misinformation can
      <a
        href="https://www.brennancenter.org/election-misinformation"
        target="_blank"
      >
        affect elections</a
      >,
      <a
        href="https://www.sciencedirect.com/science/article/pii/S0747563220303800"
        target="_blank"
      >
        change people’s behaviors</a
      >, and
      <a
        href="https://slate.com/technology/2021/12/tiktok-couch-guy-internet-sleuths.html"
        target="_blank"
      >
        put people’s lives in danger</a
      >. Children are growing up in a world that is increasingly affected by
      misinformation and disinformation, and it’s important that they learn how
      to identify it so that they can be better informed citizens.
    </p>
    <p>
      The specific example used here, around the Gas app, is also timely — this
      misinformation started circling in the one to two months. Using a timely
      example also can help students connect with the material and make it feel
      more relevant for them.
    </p>
    <h2>What age level children are targeted, and why?</h2>
    <p>
      The lesson was targeted towards middle and early high school students,
      since that’s the primary demographic of the Gas app. That’s also a
      demographic that’s <a
        href="https://www.weforum.org/agenda/2022/08/social-media-internet-online-teenagers-screens-us/"
        >spending more and more time online</a
      >, so they’re more likely to be exposed to misinformation and
      disinformation while not being experienced enough to have the tools to
      identify it.
    </p>
    <p>
      Hopefully, a lesson like this can nudge students to encorporate these
      sorts of fact-checking practices into their increasing amount of time
      online.
    </p>
    <h2>What are the specific learning objectives for this unit?</h2>
    <p>
      The main learning objective of this unit is to teach students how to do
      their own research on the factual accuracy of a piece of information they
      come across while online.
    </p>
    <p>
      That’s a combination of critical thinking skills and internet research
      skills. It requires being skeptical of a new piece of information or news
      article they might come across, and to remember that it might be a good
      idea to check on it. Then, it requires being able to identify which
      sources are trustworthy (and why), and when to be skeptical of things they
      read online.
    </p>
    <p>
      Ideally, this unit teaches students those skills and makes them more
      confident in their ability to research a piece of questionable information
      by cross-checking it with multiple trustworthy sources.
    </p>
    <h2>
      What is an overview of your curriculum? What is the format you’ve
      selected, and why did you select it?
    </h2>
    <p>
      I produced this curriculum in the form of a self-paced website that I
      coded. The website includes interactive elements like quizzes and open
      response questions.
    </p>
    <p>
      I chose this format because I think that it’s an effective way for
      students to be able to self-pace their learning. They might do this
      activity in a classroom with a teacher present, but they can each think
      about their own answers at their own pace without feeling pressured by the
      pace of the class. Also, the individual spaces for answering questions
      allow students who might not be comforatble participating in front of
      their classmates to still particite.
    </p>
    <p>
      In addition, the website format means that a parent could have their child
      go through this curriculum at home without needing to have a facilitor
      (like a teacher) present to walk the child through it. That means that the
      lesson has a further reach because it doesn’t just have to be taught in
      classrooms.
    </p>
    <h2>How could your unit’s success be evaluated or assessed?</h2>
    <p>
      After having students go through the lesson, we could give them another
      social media post (similar to the Snapchat screenshot in the lesson) and
      have them determine whether they want to re-share this post or not.
    </p>
    <p>
      In addition to just an answer, I’d want them to write their reasoning. The
      actual answer is a 50/50 guess, but the reasoning behind it is important.
      I’d assess whether they accurately identified which sources that they came
      across were trustworthy, and importantly, <em>why</em> they seemed trustworthy.
      I’d also look for signs that they evaluated the reporting itself (not just
      the source’s name on the face of it) for whether it made sense (critical thinking
      skills) and seems responsibly reported.
    </p>
  </div>
</Layout>
