---
import Layout from "../layouts/Layout.astro";
/*
            a) what the problem you're addressing in your curriculum is

          b) why you feel it is a significant issue to address.Significance may be determined by a large number of factors, including, but not

              limited to:  topicality, relationship to social/political/economic or educational issues.  Cite appropriate references to bolster your

              arguments.

           c) what age level children are targeted, and why (again, cite appropriate references as you see fit).

           d) what the specific learning objectives would be for this unit

           e) an overview of your curriculum; discuss the format you’ve selected for this curriculum and why you selected it

           f) a discussion of how you think your unit's success could be evaluated or assessed – how could you measure

              whether the learning objectives you articulated were achieved?
*/
---

<Layout>
  <div class="prose prose-lg max-w-none text-orange-50 prose-h2:text-white">
    <h2>What’s the problem you’re addressing in your curriculum?</h2>
    <h2>Why do you see it as a significant issue to address?</h2>
    <h2>What age level children are targeted, and why?</h2>
    <h2>What are the specific learning objectives for this unit?</h2>
    <h2>
      What is an overview of your curriculum? What is the format you’ve
      selected, and why did you select it?
    </h2>
    <h2>How could your unit’s success be evaluated or assessed?</h2>
  </div>
</Layout>
