<div class="space-y-2">
  <p>
    You might’ve seen an app called <strong>Gas</strong> recently — maybe you’ve
    been using it and enjoying it!
  </p>
  <p>
    In any case, it’s very popular.
    <a
      href="https://twitter.com/nikitabier/status/1592763511775850496"
      target="_blank"
      class="underline decoration-dashed decoration-white/40"
      >1 in 3 U.S. teens</a
    >
    have installed the app!
  </p>
</div>
