<section
  x-show="firstReaction && selectedTrustworthySource && submittedWhyTrustworthy && submittedAnotherSource"
  class="mt-24"
>
  <p class="text-xl font-medium">
    Now that we feel more informed, we can ask ourselves:
  </p>
  <p class="mt-2 text-4xl text-white font-bold">
    Do we still want to share this information?
  </p>
  <div class="mt-8 space-y-4">
    <p>
      If yes, that’s great! But if not, we just saved ourselves from sharing a
      piece of untrustworthy information.
    </p>
    <p>
      It might feel like it’s good to share information “just in case,” like the
      Snapchat we saw earlier.
    </p>
    <p>
      But actually, even sharing these rumors “just in case” can be harmful.
      Sharing a rumor can make it seem more credible, and allows the rumor to
      take advantage of you in order to spread further.
    </p>
    <p>
      Plus, you don’t want to <strong class="text-white"
        >undermine your own credibility</strong
      > by sharing something that turns out to be untrue. If you research information
      before you share it, people will come to know that you’re a trustworthy source
      of information.
    </p>
  </div>
  <div class="mt-8 text-xl border-2 border-white/30 p-4 rounded-xl space-y-4">
    <p>
      This is an example of the process that you should go through
      <strong class="text-white">
        every time you come across a piece of information on the internet</strong
      >.
    </p>
    <p>
      The internet makes it easy for untrue rumors to spread, and they can be
      annoying or even dangerous.
    </p>
    <p>
      By researching rumors like the Gas human trafficking rumor, you can avoid
      damaging your own credibility and help stop the spread of misinformation.
      It’s what smart people, like you, do!
    </p>
  </div>
</section>
