<section
  x-show="firstReaction && selectedTrustworthySource && submittedWhyTrustworthy"
  class="mt-16 space-y-4"
>
  <p class="text-white font-medium">
    We shouldn’t just trust one source when confirming whether something’s true
    or not.
  </p>
  <p>This article also comes up in search results:</p>
  <a
    href="https://www.wsaz.com/2022/10/21/school-counselor-concerned-about-new-gas-app-targeting-students"
    target="_blank"
    class="block"
  >
    <img src="/google3.png" class="rounded-xl shadow-sm" />
  </a>
  <p>
    It looks to be from a local news channel, which is fairly credible. However,
    let’s read
    <a
      href="https://www.wsaz.com/2022/10/21/school-counselor-concerned-about-new-gas-app-targeting-students"
      target="_blank"
      class="underline decoration-dashed decoration-white/40"
    >
      the article
    </a>
    critically.
  </p>
  <p>
    The article centers around the concern that older students could use it to
    message younger students with inappropriate messages:
  </p>
  <blockquote class="italic border-l-4 border-white/30 pl-6">
    “If people would get on there and say nice and kind things that would be
    wonderful, but we all know that is not how our world works,” Davidson said.
  </blockquote>
  <p>
    However, we know from the previous article (and can confirm with our own
    research or hands-on experience with the app) that
    <strong class="text-white">
      Gas doesn’t allow sending other users messages
    </strong>. The only form of interaction is through filling out pre-written
    polls, which are all positive.
  </p>
  <p>
    Even though sources may seem credible, we also need to evaluate their
    contents in order to fully judge their credibility.
  </p>
</section>
