<div class="mt-16 flex gap-x-8">
  <div class="space-y-2 mt-4">
    <p>
      You might’ve also heard that the app is involved in human trafficking.
    </p>
    <p class="text-xl font-medium text-white">
      How much of that is true? And how can we investigate these sorts of rumors
      when we hear them?
    </p>
  </div>

  <img
    src="/snap.jpg"
    alt="A Snapchat message reading, 'yall might wanna delete the gas app its literally a sex traficing app gathers your info your age name school adress everything about you deadass them dudes tapped my fucking phone bro 3 days ago it wasn't and after I downloaded the app now it is'"
    class="rounded-xl h-[34rem] border-4 border-white shadow-sm rotate-2"
  />
</div>
