<div class="mt-16 space-y-2">
  <p>You might’ve also heard that the app is involved in human trafficking.</p>
  <p>
    How much of that is true? And how can we investigate these sorts of rumors
    when we hear them?
  </p>
</div>
