<section
  x-show="firstReaction && selectedTrustworthySource && submittedWhyTrustworthy"
  class="mt-16 space-y-4"
>
  <p>
    If we read <a
      href="https://www.washingtonpost.com/technology/2022/11/09/debunking-gap-app-sex-trafficking-rumor"
      target="_blank"
      class="underline decoration-dashed decoration-white/40">the article</a
    >, we’ll read:
  </p>

  <blockquote class="italic border-l-4 border-white/30 pl-6">
    The Oktaha Public School system in Oklahoma posted an announcement on its
    Facebook page on Thursday claiming the Gas app tricks students into giving
    away their locations. “Children are being kidnapped in other towns and this
    new app is thought to be the source of predators finding their location,”
    the Facebook post read. After [Gas founder] Bier reached out, explaining his
    app, the post was removed. “We’ve confirmed that this was a hoax and we
    removed it,” said Jerry Needham, superintendent for the Oktaha school
    district.
  </blockquote>

  <blockquote class="italic border-l-4 border-white/30 pl-6">
    Human trafficking survivor and advocate Eliza Bleu attempted to swat down
    the conspiracy theories on Twitter. On Oct. 20, ... Ashton Kutcher, who ...
    co-founded Thorn, a nonprofit that builds digital tools to defend children
    from sexual abuse and fight child sex trafficking, posted “Gas app is not
    involved in trafficking humans.”
  </blockquote>
</section>
