<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/📺" />
    <title>Media Literacy</title>
  </head>
  <body
    class="antialiased bg-gradient-to-br from-red-500 to-amber-500 text-orange-50 text-lg"
  >
    <div class="p-4 pt-20 pb-32">
      <div class="max-w-screen-sm mx-auto">
        <slot />
      </div>
    </div>
  </body>
</html>
