<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/📺" />
    <title>Media Literacy</title>

    <script src="https://unpkg.com/alpinejs@3" defer></script>
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
  </head>
  <body
    class="antialiased bg-gradient-to-br from-orange-500 to-rose-500 text-orange-50 text-lg"
    x-data="{
      firstReaction: 'investigate',
      selectedTrustworthySource: true,
      submittedWhyTrustworthy: true,
      submittedAnotherSource: true
    }"
    x-cloak
  >
    <div class="p-4 pt-20 pb-36">
      <div class="max-w-screen-sm mx-auto">
        <slot />
      </div>
    </div>
  </body>
</html>
