<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="https://emojicdn.elk.sh/📺" />
    <title>Media Literacy</title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=nunito:400,500,600,700,800,900|pt-serif:400,400i,700,700i"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
